{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="hero">
        <h2>Востребованность</h2>
    </section>
    <article class="demand-article">
        <div class="demand-article-content">
            {% for demand in all_demands %}
                <div class="demand-content">
                    <img class="demand-img" src="{{ demand.graphic.url }}">
                    <table class="demand-table">
                        <caption>{{ demand.title }}</caption>
                        <tr>
                            {% for key in demand.content.keys %}
                                <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for value in demand.content.values %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
    </article>
{% endblock %}