<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C/C++</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/geography.css' %}">
</head>
<body class="grid">
<header class="page-header">
    <p class="logo">
        <img src="{% static 'images/logo.svg' %}">
    </p>
    <h1>C++ Analytics</h1>
</header>
<main>
    <aside class="main-menu">
        <nav>
        <h3>Навигация по сайту</h3>
        <ul class="site-navigation">
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/main.svg' %}" width="24" height="24">
                <a href="{% url 'main' %}">Главная</a>
            </li>
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/demand.svg' %}" width="24" height="24">
                <a href="{% url 'demand' %}">Востребованность</a>
            </li>
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/geography.svg' %}" width="24" height="24">
                <a href="{% url 'geography' %}">География</a>
            </li>
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/skills.svg' %}" width="24" height="24">
                <a href="{% url 'skills' %}">Навыки</a>
            </li>
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/latest_vacancies.svg' %}" width="24" height="24">
                <a href="{% url 'latest_vacancies' %}">Последние вакансии</a>
            </li>
        </ul>
    </nav>
    </aside>
    <section class="hero">
        <h2>C/C++ программист</h2>
    </section>
    <article class="article">
        <div class="article-content">
            {% for geography in all_geography %}
                <div class="geography-content">
                    <img class="geography-img" src="{{ geography.image.image.url }}">
                    <table class="geography-table">
                        <tr>
                            {% for key in geography.content.keys %}
                                <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for value in geography.content.values %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
    </article>
</main>
<footer class="page-footer">
    <h4>Кремлев Андрей Викторович, РИ-220931</h4>
</footer>
</body>
</html>