{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="hero">
        <h2>География</h2>
    </section>
    <article class="geography-article">
        <div class="geography-article-content">
            {% for geography in all_geography %}
                <div class="geography-content">
                    <img class="geography-img" src="{{ geography.graphic.url }}">
                    <table class="geography-table">
                        <caption>{{ geography.title }}</caption>
                        <tr>
                            {% for key in geography.content.keys %}
                                <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for value in geography.content.values %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            {% endfor %}
        </div>
    </article>
{% endblock %}