<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C/C++</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header class="page-header">
    <p class="logo">
        <img src="{% static 'images/logo.svg' %}">
    </p>
    <h1>C++ Analytics</h1>
</header>
<main>
    <nav class="main-nav">
        <h3>Навигация по сайту</h3>
        <ul class="site-navigation">
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/main.svg' %}" width="24" height="24">
                <a href="http://127.0.0.1:8000/">Главная</a>
            </li>
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/demand.svg' %}" width="24" height="24">
                <a href="http://127.0.0.1:8000/demand">
                    Востребованность
                </a>
            </li>
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/geography.svg' %}" width="24" height="24">
                <a href="http://127.0.0.1:8000/geography">География</a>
            </li>
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/skills.svg' %}" width="24" height="24">
                <a href="http://127.0.0.1:8000/skills">Навыки</a>
            </li>
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/latest_vacancies.svg' %}" width="24" height="24">
                <a href="http://127.0.0.1:8000/latest_vacancies">Последние вакансии</a>
            </li>
        </ul>
    </nav>
    <section class="hero">
        <h2>C/C++ программист</h2>
    </section>
    <article class="article">
        <div class="article-content">
            <ul>
                {% for vacancy in vacancies %}
                    <li>
                        <h2>{{ vacancy.name }}</h2>
                        <p>{{ vacancy.description }}</p>
                        <p>Ключевые навыки: {{ vacancy.key_skills }}</p>
                        <p>Зарплата: {{ vacancy.salary.from }} {{ vacancy.salary.currency }}</p>
                        <p>Местоположение: {{ vacancy.area_name }}</p>
                        <p>Опубликовано: {{ vacancy.published_at }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </article>
</main>
<footer class="page-footer">
    <h4>Кремлев Андрей Викторович, РИ-220931</h4>
</footer>
</body>
</html>