{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="hero">
        <h2>Последние вакансии</h2>
    </section>
    <article class="latest_vacancies-article">
        <div class="latest_vacancies-article-content">
            <ul class="vacancy-list">
                {% for vacancy in vacancies %}
                    <li class="vacancy-list-item">
                        <h3>{{ vacancy.name }}</h3>
                        <p><strong>Описание:</strong> {{ vacancy.description }}</p>
                        <p><strong>Ключевые навыки:</strong> {{ vacancy.key_skills }}</p>
                        <p><strong>Компания:</strong> {{ vacancy.company }}</p>
                        <p><strong>Зарплата:</strong> {{ vacancy.salary }}</p>
                        <p><strong>Местоположение:</strong> {{ vacancy.area_name }}</p>
                        <p><strong>Опубликовано:</strong> {{ vacancy.published_at }}</p>
                        <a href="{{ vacancy.url }}"><strong>Ссылка на вакансию</strong></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </article>
{% endblock %}