<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C/C++</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<header class="page-header">
    <p class="logo">
        <img src="{% static 'images/logo.svg' %}">
    </p>
    <h1>C++ Analytics</h1>
</header>
<main>
    <aside class="main-menu">
        <nav>
        <h3>Навигация по сайту</h3>
        <ul class="site-navigation">
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/main.svg' %}" width="24" height="24">
                <a href="{% url 'main' %}">Главная</a>
            </li>
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/demand.svg' %}" width="24" height="24">
                <a href="{% url 'demand' %}">Востребованность</a>
            </li>
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/geography.svg' %}" width="24" height="24">
                <a href="{% url 'geography' %}">География</a>
            </li>
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/skills.svg' %}" width="24" height="24">
                <a href="{% url 'skills' %}">Навыки</a>
            </li>
            <li class="site-navigation-item">
                <img class="icon" src="{% static 'images/latest_vacancies.svg' %}" width="24" height="24">
                <a href="{% url 'latest_vacancies' %}">Последние вакансии</a>
            </li>
        </ul>
    </nav>
    </aside>
    <section class="hero">
        <h2>C/C++ программист</h2>
    </section>
    <article class="article">
        <div class="article-content">
            <h3>Описание</h3>
            <div class="article-images">
                <img src="{% static 'images/image2.png' %}">
                <img src="{% static 'images/image1.svg' %}">
                <img src="{% static 'images/image3.png' %}">
            </div>
            <h4>Кто такой разработчик на C++ и чем занимается?</h4>
            <p>Если объяснять простыми словами, то разработчик на С++ – это программист, который занимается созданием сложного ПО и высоконагруженных систем.</p>
            <p>C++ – это высокопроизводительный и мощный язык, который используется в разных отраслях: банковские и корпоративные сервисы, разработка видеоигр и игровых движков, операционные и поисковые системы, искусственный интеллект, роботизированные машины и пр.</p>
            <h4>Особенности разработки на языке C++</h4>
            <p>При всех достоинствах C++ — сложный язык с высоким порогом входа.</p>
            <ul>
                <li>
                    <strong>C++ более низкий уровень, чем у большинства современных языков.</strong> Он все еще считается высокоуровневым, то есть отдаленным от «железа» и близким к человеку, но все же сохраняет возможность, например, напрямую работать с памятью. C++ не настолько уходит в человекопонятную абстракцию, как тот же JavaScript. Он может на довольно глубоком уровне работать с аппаратной частью компьютера. Поэтому важно понимать особенности работы «железа».
                </li>
                <li>
                    <strong>В C++ нет автоматизации сборки мусора и других процессов.</strong> Многие вещи, которые в современных языках программирования за разработчика выполняют автоматические процессы, в C++ делаются вручную. Например, та же работа с памятью: в C++ разработчик выделяет память и управляет ей сам, а если ошибется, могут начаться утечки.
                </li>
                <li>
                    <strong>В C++ много специфичных понятий и абстракций.</strong> Например, один из самых знаменитых типов данных языка C, перешедший и в C++, — указатель. Переменные этого типа буквально указывают на какое-то значение в памяти компьютера, и работать с ними нужно несколько иначе, чем с привычными переменными.
                </li>
            </ul>
            <p>C++ совмещает преимущества низко- и высокоуровневых языков программирования.</p>
            <h4>Почему разработчик на C++ — особенный специалист</h4>
            <p>В большинстве других языков программирования разработчику не нужно знать, как работает техническая «начинка»: для сложных процессов есть библиотеки и уже готовые функции. В C++ программист должен понимать, как все устроено. Именно так он может писать эффективный и быстрый код.</p>
            <p>В теории можно работать с C++ как с другими языками и не углубляться в детали, но на практике это бесполезно. Так теряется главный плюс C++ — возможность писать код, оптимизированный под «железо» и потому очень быстрый.</p>
            <p>Хороший разработчик на C++ — человек, который, кроме самого языка программирования, разбирается в устройстве компьютера, алгоритмах и структурах данных, а еще умеет их применять. Для работы с языком важны познания в Computer Science: без них эффективные программы писать не получится.</p>
        </div>
    </article>
</main>
<footer class="page-footer">
    <h4>Кремлев Андрей Викторович, РИ-220931</h4>
</footer>
</body>
</html>