.article-content {
    float: center;
    text-align: center;
}

.geography-table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
}

caption {
    font-size: 18px;
}

.geography-table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.geography-table td {
	border: 1px solid #dddddd;
	padding: 5px;
}

.geography-content {
    padding: 0px 15px 20px 15px;
    margin-bottom: 20px;
    border: 2px solid #587BEC;
    border-radius: 15px;
}