body {
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin-left: 9%;
    margin-right: 9%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: solid #214BB2;
}

.logo img {
    max-width: 70px;
}

header h1 {
    margin-left: 50px;
}

main {
    flex: 1;
    margin-left: 9%;
    margin-right: 9%;
}

aside {
    margin-top: 30px;
    text-align: left;
    position: fixed;
    font-size: 18px;
}

aside h3 {
    font-size: 1.1em;
}

.site-navigation {
    list-style-type: none;
    padding: 0;
}

.site-navigation-item {
    color: #000;
    padding: 16px;
    text-decoration: none;
    text-align: left;
    display: flex;
}

.site-navigation-item a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.site-navigation-item a:hover {
    color: #214BB2;
    text-decoration: underline #214BB2;
    text-underline-offset: 6px;
}

.icon {
    margin-top: 6px;
}

.hero {
    margin-left: 250px;
}

.article {
    margin-left: 250px;
    border-bottom: solid #214BB2;
}

footer {
    background-color: #f2f2f2;
    padding: 10px 20px;
    text-align: center;
    height: 100%;
}